.Definitions {
    margin: 0;
    padding: 10px 10px;
}
.Definitions h1{
    color:blueviolet;
    padding: 5px;
    text-transform: capitalize;
    font-family: Blinker, sans-serif;
    font-weight: 500;
}
.Definitions .definition {
    font-size: 18px;
    font-weight: 600;
    font-family: Blinker, sans-serif;
    
}
.Definitions li {
    list-style-type: disc;
}