.Synonyms{
    padding: 10px 0 10px 0;
    margin-top: 0;
}
.Synonyms h2 {
    color:white;
    font-family: 'Blinker', sans-serif;
    letter-spacing: +0.1rem;
    margin-left:-20px;
    background-color: transparent;
    padding:0;
    border-top: 35px solid transparent;
    border-bottom:35px solid transparent; 
    border-left:35px solid blueviolet;

}
.Synonyms h2 b{
    background-color: blueviolet;
    padding: 10px;
    font-weight: 400;
    margin-left: -10px;
    border-radius: 5px;
    font-size: 24px;
}

ul {
    list-style: none;
   text-align: justify;
   margin:0;
   padding: 0;
   justify-content: space-evenly;
}
ul li{
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px 5px 10px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    background-color: blueviolet;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: all 100ms ease-in-out;
    
}
ul li:hover{
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
}

@media (max-width: 767.98px) { 
    .Synonyms  .section-title{
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 0;
        border-top: 10px solid transparent;
    border-bottom:10px solid transparent; 
    border-left:20px solid blueviolet;
    border-right:20px solid blueviolet;
    color: white;
    }

    .Synonyms .section-title .fill{
        background-color: blueviolet;
        padding: 10px;
        font-size: 20px;
        font-weight: 400;
    }
 }