.Synonyms{
    padding: 10px 0 10px 0;

}
ul {
    list-style: none;
   text-align: center;
   margin:0;
   padding: 0;
   justify-content: space-evenly;
}
ul li{
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    background-color: blueviolet;
    color: white;
    transition: all 100ms ease-in-out;
    
}
ul li:hover{
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
}